*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	color: #fff;
	background: #c23616;
}

.container {
	height: 100vh;
}

#plansform{
	text-align: center;
}

.calc {
	width: 100%;
}

.plan {
	text-align: center;
	margin-top: 30px;
	font-size: 1.3em;
}
