@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pacifico&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: #c23616;
    font: 400 14px 'Montserrat', sans-serif;
	color: #fff;
    -webkit-font-smoothing: antialiased;
}

.container {
	height: 100vh;
}

.container .head span {
	float: right;
	margin-bottom: 5px;
	font-size: 2em;
	font-family: 'Pacifico', cursive;
	cursor: pointer;
}

.container .head span:hover {
	filter: brightness(0.8);
}
 .container .head span:nth-child(2){
 	font-size: 0.8em;
 }

 .container .head span a{
 	text-decoration: none;
 	color: #fff;
 }

.line {
	height: 500px;
	width: 1px;
	background: #c14b30;
}

#plansform{
	text-align: center;
}

.calc {
	height: 100vh;
}

.tarifs {
	flex-direction: column;
}

.plan {
	text-align: center;
	margin-top: 30px;
	font-size: 1.7em;
    padding: 15px;
    border-radius: 10px;
    width: 175px;
    height: 145px;
}

.plan p {
	cursor: default;
}

.plan span {
	font-size: 1.2em;
}

.plan:hover{
	background: #018E42;
	    box-shadow:
        1px 1px #3C1518,
        2px 2px #3C1518,
        3px 3px #3C1518;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.plan:last-child:hover{
	background: #69140E;
}

.result {
	flex-direction: column;
	justify-content: center;
}

input.invalid:focus {
  outline-color: darkred;
}

.result .lottie div{
	margin: 0!important;
}

@media screen and (max-width: 400px) {
	.plan {
		width: 145px;
		height: 120px;
		font-size: 1.2em;
		border: 1px solid;
	}

}

@media screen and (max-width: 767px) {
	.line {
		display: none;
	}

	.calc {
		height: auto;
	}

	.form {
		top: 50px;
	}

	.result {
		flex-direction: row;
		justify-content: space-around;
	}

	.tarifs {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	.plan{
		border: 1px solid;
	}

	.plan span {
		font-size: 1.5em;
	}

	.result .lottie div {
		display: none;
	}
}
